doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title= title
        style(type="text/css")
            | @media (min-width: 1200px) {
            | .container{
            |       width: 1170px;
            |   }
            | }
            | @media (min-width: 992px) {
            | .container{
            |       width: 970px;
            |   }
            | }
            | @media (min-width: 768px) {
            | .container{
            |       width: 750px;
            |   }
            | }
    body
        div.container(style='margin: 0 auto')
            div Active account
            p Please use link below to active account
            a(href=url) Activation link
            div <br/> Thanks,
            div Your friends at Alert Centric
