doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title= title
        style(type="text/css")
            | @media (min-width: 1200px) {
            | .container{
            |       width: 1170px;
            |   }
            | }
            | @media (min-width: 992px) {
            | .container{
            |       width: 970px;
            |   }
            | }
            | @media (min-width: 768px) {
            | .container{
            |       width: 750px;
            |   }
            | }
    body
        div.container(style='margin: 0 auto')
            div I would like to add vendor that is available. Please add vendor listed below:
                div
                    p Vendor name:<br/>
                        strong=vendorName
                    p Product name:<br/>
                        strong=productName

                    div
                        p Success email subject:<br/>
                            strong(style="white-space: pre-wrap;")=successEmailSubject
                        p Success email body:<br/>
                            strong(style="white-space: pre-wrap;")=successEmailBody
                        p Fail email subject:<br/>
                            strong(style="white-space: pre-wrap;")=failEmailSubject
                        p Fail email body<br/>
                            strong(style="white-space: pre-wrap;")=failEmailBody
                        p Warn email subject:<br/>
                            strong(style="white-space: pre-wrap;")=warnEmailSubject
                        p Warn email body<br/>
                            strong(style="white-space: pre-wrap;")=warnEmailBody

