doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title= title
        style(type="text/css")
            | @media (min-width: 1200px) {
            | .container{
            |       width: 1170px;
            |   }
            | }
            | @media (min-width: 992px) {
            | .container{
            |       width: 970px;
            |   }
            | }
            | @media (min-width: 768px) {
            | .container{
            |       width: 750px;
            |   }
            | }
            | table {
            | border-collapse: collapse;
            | }
            | table>tbody>tr:nth-of-type(odd) {
            |  background-color: #f9f9f9;
            | }
            | th {
            |  border: 1px solid #ddd;
            | padding: 8px;
            | text-align: left !important;
            | }
            | td {
            | border: 1px solid #ddd;
            | padding: 8px;
            | }
    body
        div.container(style='margin: 0 auto')
            div
                p(style='text-align: center;font-size: 20px;font-weight: bold;width: 100%;') Human Interaction Required Table
                table(style='margin: 0 auto;')
                    thead(style='background-color: #EC4E3C; color: #fff;')
                        tr 
                            th(style="width: 15%;") Group name
                            th(style="width: 20%;") Device
                            th(style="width: 20%;") Product
                            th(style="width: 15%;") Last email received
                            th(style="width: 15%;") Email Auto forwarded
                            th(style="width: 15%;") Keyword Detected
                    tbody
                        for item in interactionRequired
                            tr
                                td=item.group
                                td=item.name
                                td=item.product
                                td=item.lastEmailReceive
                                td=item.forwardEmail
                                td=item.keyword
            div
                p(style='text-align: center;font-size: 20px;font-weight: bold;width: 100%;') Email Not Received within Expected time
                table(style='margin: 0 auto;')
                    thead(style='background-color: #eca63c; color: #fff;')
                        tr
                            th(style="width: 15%;") Group name
                            th(style="width: 20%;") Device
                            th(style="width: 20%;") Product
                            th(style="width: 15%;") Last email received
                            th(style="width: 15%;") Email Auto forwarded
                            th(style="width: 15%;") Keyword Detected
                    tbody
                        for item in delay
                            tr
                                td=item.group
                                td=item.name
                                td=item.product
                                td=item.lastEmailReceive
                                td=item.forwardEmail
                                td=item.keyword

            div
                p(style='text-align: center;font-size: 20px;font-weight: bold;width: 100%;') No Issue detected
                table(style='margin: 0 auto;')
                    thead(style='background-color:#57cb83; color: #fff;')
                        tr
                            th(style="width: 15%;") Group name
                            th(style="width: 20%;") Device
                            th(style="width: 20%;") Product
                            th(style="width: 15%;") Last email received
                            th(style="width: 15%;") Email Auto forwarded
                            th(style="width: 15%;") Keyword Detected
                    tbody
                        for item in notDetected
                            tr
                                td=item.group
                                td=item.name
                                td=item.product
                                td=item.lastEmailReceive
                                td=item.forwardEmail
                                td=item.keyword
        


