doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        title= title
        style(type="text/css")
            | @media (min-width: 1200px) {
            | .container{
            |       width: 1170px;
            |   }
            | }
            | @media (min-width: 992px) {
            | .container{
            |       width: 970px;
            |   }
            | }
            | @media (min-width: 768px) {
            | .container{
            |       width: 750px;
            |   }
            | }
    body
        div.container(style='margin: 0 auto')
            div We heard that you lost your Alert Centric password. Sorry about that!

            p Please use link below to set new password
            a(href=url)=url

            div <br/> Thanks,
            div Your friends at Alert Centric
